@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

p {
  font-size: 1rem;
  line-height: 1.4em;
}

h1 {
  font-size: 250%;
  letter-spacing: .5rem;
}

h2 {
  font-size: 200%;
  letter-spacing: .3rem;
}

h3 {
  font-size: 150%;
  letter-spacing: .2rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  text-transform: uppercase;
  line-height: 1.4em;
}

.topnav {
  min-width: 100%;
  min-height: 20vh;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: "Playfair Display", serif;
  position: fixed;
}

.topnav a {
  color: whitesmoke;
  text-transform: uppercase;
  padding-top: 6rem;
  padding-bottom: 0;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  text-shadow: 2px 1px #1f2a30;
  text-decoration: none;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 6px;
}

.topnav a:hover {
  color: rgba(115, 199, 203, 0.89);
  font-size: 1.5rem;
  text-shadow: 2px 1px #1f2a30;
}

.topnav .icon {
  display: none;
}

.nav-up {
  top: -40vh;
}

input[type=submit] {
  background-color: #387284;
  padding: 10px 60px;
  border: none;
}

input[type=submit]:hover {
  background-color: #257c97;
}

.button {
  text-align: center;
  padding: 2rem 0;
}

body {
  font-family: 'Playfair Display', serif;
}

.parallax {
  background: url(../images/waves_para_desktop.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  min-height: 10vh;
  min-width: 100vw;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #387284;
  text-transform: uppercase;
}

.foot-contact {
  float: left;
  width: 45%;
  min-height: 100%;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 5px;
  text-shadow: 1px 1px #1f2a30;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 5px;
  text-shadow: 1px 1px #1f2a30;
  min-width: 33.33%;
}

.foot-contact p {
  font-size: 80%;
}

.foot-contact a {
  text-decoration: none;
  font-size: 80%;
  color: rgba(115, 199, 203, 0.89);
}

.foot-contact a:visited {
  color: rgba(115, 199, 203, 0.89);
}

.foot-contact a:hover {
  font-size: 120%;
  transition: all 400ms;
}

.foot-contact p {
  font-size: 80%;
}

.foot-contact a {
  text-decoration: none;
  font-size: 80%;
  color: rgba(115, 199, 203, 0.89);
}

.foot-contact a:visited {
  color: rgba(115, 199, 203, 0.89);
}

.foot-contact a:hover {
  font-size: 120%;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.foot-contact:after {
  content: "";
  display: block;
  clear: both;
}

.foot-adress {
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 5px;
  text-shadow: 1px 1px #1f2a30;
  min-width: 33.33%;
}

.foot-adress p {
  font-size: 80%;
}

.foot-adress a {
  text-decoration: none;
  font-size: 80%;
  color: rgba(115, 199, 203, 0.89);
}

.foot-adress a:visited {
  color: rgba(115, 199, 203, 0.89);
}

.foot-adress a:hover {
  font-size: 120%;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.foot-adress:after {
  content: "";
  display: block;
  clear: both;
}

.foot-follow {
  float: right;
  width: 45%;
  min-height: 100%;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 5px;
  text-shadow: 1px 1px #1f2a30;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 5px;
  text-shadow: 1px 1px #1f2a30;
  min-width: 33.33%;
}

.foot-follow p {
  font-size: 80%;
}

.foot-follow a {
  text-decoration: none;
  font-size: 80%;
  color: rgba(115, 199, 203, 0.89);
}

.foot-follow a:visited {
  color: rgba(115, 199, 203, 0.89);
}

.foot-follow a:hover {
  font-size: 120%;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.foot-follow p {
  font-size: 80%;
}

.foot-follow a {
  text-decoration: none;
  font-size: 80%;
  color: rgba(115, 199, 203, 0.89);
}

.foot-follow a:visited {
  color: rgba(115, 199, 203, 0.89);
}

.foot-follow a:hover {
  font-size: 120%;
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.foot-follow:after {
  content: "";
  display: block;
  clear: both;
}

.slogan-cont {
  min-height: 20vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.slogan-box {
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  text-align: center;
  text-shadow: 2px 1px #1f2a30;
  font-size: 1rem;
  font-weight: bold;
}

.span-strong {
  color: rgba(115, 199, 203, 0.89);
  font-size: 1.5rem;
}

.home-container {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  min-width: 100%;
  background-image: url(../logos/waves_icon_300.png), url(../images/waves_para_mobile.jpg);
  min-height: 80vh;
  background-repeat: no-repeat,no-repeat;
  background-position: 50% 50%;
  background-size: auto, cover;
}

.about-us-container {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  background-color: #387284;
  color: #dacfc3;
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  padding: 1.5rem;
}

.about-us-container a {
  color: black;
}

.about-us-container a:hover {
  color: #387284;
}

.about-us-container .about-box {
  text-align: justify;
}

.employees-container {
  display: block;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.employees-container .employee1 {
  background-color: #dacfc3;
  color: black;
  max-width: 30%;
  padding: 0.5rem;
  float: left;
}

.employees-container .employee1:after {
  content: "";
  display: block;
  clear: both;
}

.employees-container .employee2 {
  background-color: #dacfc3;
  color: black;
  max-width: 30%;
  padding: 0.5rem;
  display: inline-block;
}

.employees-container .employee2:after {
  content: "";
  display: block;
  clear: both;
}

.employees-container .employee3 {
  background-color: #dacfc3;
  color: black;
  max-width: 30%;
  padding: 0.5rem;
  float: right;
}

.employees-container .employee3:after {
  content: "";
  display: block;
  clear: both;
}

.assignment-container {
  min-height: 100vh;
  min-width: 100vw;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  background-color: #dacfc3;
  color: black;
  text-align: center;
}

.assignment-container .assignment, .assignment-container .assignment-1 {
  width: 70%;
  margin: 1rem auto;
  padding: 1rem;
}

.assignment-container p {
  text-align: justify;
}

.services-container {
  min-height: 100vh;
  min-width: 100vw;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  text-align: center;
  background-color: #387284;
  padding-bottom: 2rem;
  background-color: #387284;
}

.services-container header {
  float: right;
  min-width: 100%;
  color: white;
}

.services-container header:after {
  content: "";
  display: block;
  clear: both;
}

.services-container p {
  text-align: center;
  padding: 2rem;
}

.services-container a:link {
  text-decoration: none;
  color: white;
}

.services-container a:visited {
  text-decoration: none;
  color: white;
}

.services-container a:hover {
  text-decoration: none;
  color: white;
}

.services-container a:active {
  text-decoration: none;
  color: white;
}

.desktop-usp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.desktop-usp .uspar {
  min-height: 100vh;
  color: white;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.desktop-usp .uspar .header {
  width: 100%;
  min-height: 40vh;
}

.desktop-usp .uspar .usp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex;
  background-color: #dacfc3;
  padding: 2rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.desktop-usp .uspar .usp-picture {
  min-width: 30%;
  float: left;
  padding: 1rem;
}

.desktop-usp .uspar .usp-picture:after {
  content: "";
  display: block;
  clear: both;
}

.desktop-usp .uspar .usp-text {
  background-color: #387284;
  padding: 3rem;
  color: black;
  min-width: 60%;
}

.contact-container {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 100%;
  min-height: 90vh;
  background-color: #dacfc3;
  padding: 1rem;
}

.contact-container .contact-text {
  display: none;
}

.contact-container .contact-head {
  text-align: center;
  min-width: 100%;
}

.contact-container input.contact-large, .contact-container textarea.contact-large {
  display: none;
}

.contact-container input.contact-small, .contact-container textarea.contact-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex;
  display: block;
}

.contact-container textarea {
  min-height: 5rem;
}

.contact-container form {
  float: right;
  padding-top: 3rem;
}

.contact-container form:after {
  content: "";
  display: block;
  clear: both;
}

input[type=text], textarea {
  padding: 0.5rem 5rem;
  border: none;
  border-bottom: 2px solid black;
  background-color: #dacfc3;
}

@media (max-width: 400px) {
  .slogan-cont {
    display: none;
  }
  .home-container {
    min-height: 100vh;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    padding: 0.8rem 1rem;
    text-shadow: none;
    color: black;
  }
  .topnav.responsive {
    position: fixed;
    background-color: #dacfc3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .topnav.responsive a:not(:last-child) {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    padding: 0.8rem 1rem;
    text-shadow: none;
    width: 100%;
    font-size: 1rem;
    color: black;
    letter-spacing: normal;
  }
  .topnav.responsive a:not(:last-child):hover {
    background-color: #88bccd;
  }
  footer {
    font-size: 1rem;
  }
  footer .foot-adress {
    display: none;
  }
  .desktop-usp {
    display: none;
  }
}

@media (min-width: 376px) and (max-width: 798px) {
  p {
    font-size: 1.2rem;
  }
  .slogan-cont {
    display: none;
  }
  .home-container {
    min-height: 100vh;
  }
  .assignment-backgrund {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
  }
  .assignment-backgrund header {
    width: 100%;
  }
  .assignment-backgrund .assignment {
    width: 45%;
    float: left;
    padding-top: 20vh;
  }
  .assignment-backgrund .assignment .assignment-picture {
    padding: 2rem;
  }
  .assignment-backgrund .assignment-1 {
    width: 45%;
    float: left;
    padding-top: 20vh;
  }
  .assignment-backgrund .assignment-1 .assignment-picture {
    padding: 2rem;
  }
  .desktop-usp {
    display: none;
  }
  .services-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .services-container header {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    width: 100%;
  }
  .services-container .usp11 {
    float: left;
    width: 33%;
    overflow: auto;
    padding: 2rem;
    padding-top: 20vh;
    background-color: #387284;
    min-width: 33.33%;
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .services-container .usp11:after {
    content: "";
    display: block;
    clear: both;
  }
  .services-container .usp22 {
    float: left;
    width: 33%;
    overflow: auto;
    padding: 2rem;
    padding-top: 20vh;
    background-color: #387284;
    min-width: 33.33%;
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .services-container .usp22:after {
    content: "";
    display: block;
    clear: both;
  }
  .services-container .usp33 {
    float: left;
    width: 33%;
    overflow: auto;
    padding: 2rem;
    padding-top: 20vh;
    background-color: #387284;
    min-width: 33.33%;
    margin: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .services-container .usp33:after {
    content: "";
    display: block;
    clear: both;
  }
  .services-container .service {
    min-width: 30%;
    padding: 0;
  }
  .services-container .service h3 {
    font-size: 120%;
  }
  .services-container .service p {
    text-align: justify;
  }
  .topnav a {
    display: none;
  }
  .topnav a.icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    padding: 14px 16px;
    text-shadow: none;
    color: black;
  }
  .topnav.responsive {
    position: fixed;
    background-color: #dacfc3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .topnav.responsive a:not(:last-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    padding: 14px 16px;
    text-shadow: none;
    width: 100%;
    font-size: 1rem;
    color: black;
    letter-spacing: normal;
  }
  .topnav.responsive a:not(:last-child):hover {
    background-color: #88bccd;
  }
  .foot-contact {
    float: right;
    width: 45%;
    min-height: 100%;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px #1f2a30;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px #1f2a30;
    width: 30%;
  }
  .foot-contact p {
    font-size: 80%;
  }
  .foot-contact a {
    text-decoration: none;
    font-size: 80%;
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-contact a:visited {
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-contact a:hover {
    font-size: 120%;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  .foot-contact p {
    font-size: 80%;
  }
  .foot-contact a {
    text-decoration: none;
    font-size: 80%;
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-contact a:visited {
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-contact a:hover {
    font-size: 120%;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  .foot-contact:after {
    content: "";
    display: block;
    clear: both;
  }
  .foot-contact p {
    font-size: 120%;
  }
  .foot-adress {
    float: right;
    width: 45%;
    min-height: 100%;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px #1f2a30;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px #1f2a30;
    width: 30%;
  }
  .foot-adress p {
    font-size: 80%;
  }
  .foot-adress a {
    text-decoration: none;
    font-size: 80%;
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-adress a:visited {
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-adress a:hover {
    font-size: 120%;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  .foot-adress p {
    font-size: 80%;
  }
  .foot-adress a {
    text-decoration: none;
    font-size: 80%;
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-adress a:visited {
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-adress a:hover {
    font-size: 120%;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  .foot-adress:after {
    content: "";
    display: block;
    clear: both;
  }
  .foot-adress p {
    font-size: 120%;
  }
  .foot-follow {
    float: right;
    width: 45%;
    min-height: 100%;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px #1f2a30;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px #1f2a30;
    width: 30%;
  }
  .foot-follow p {
    font-size: 80%;
  }
  .foot-follow a {
    text-decoration: none;
    font-size: 80%;
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-follow a:visited {
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-follow a:hover {
    font-size: 120%;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  .foot-follow p {
    font-size: 80%;
  }
  .foot-follow a {
    text-decoration: none;
    font-size: 80%;
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-follow a:visited {
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-follow a:hover {
    font-size: 120%;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  .foot-follow:after {
    content: "";
    display: block;
    clear: both;
  }
  .foot-follow p {
    font-size: 120%;
  }
}

@media (min-width: 799px) {
  /* Jag har ingen aning om vad tanken här är med alla flex attribut och det är för mycket att fixa, fråga Robert */
  p {
    font-size: 1.3rem;
  }
  h1, h2, h3 {
    text-transform: uppercase;
  }
  .about-us-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }
  .about-us-container .employees-container {
    max-width: 60vw;
    margin: 0 auto;
  }
  .home-container {
    background-image: url(../logos/waves_desktop_logo_600.png);
    font-weight: bold;
  }
  /* Jag har ingen aning om vad tanken här är med alla flex attribut och det är för mycket att fixa, fråga Robert */
  .assignment-container {
    background: none;
    padding: 0;
    color: white;
  }
  .assignment-container .assignment-backgrund {
    color: white;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .assignment-container .assignment-backgrund header {
    width: 100%;
    height: 20vh;
  }
  .assignment-container .assignment-backgrund div {
    padding: 1rem;
  }
  .assignment-container .assignment {
    float: right;
    width: 40%;
    padding: 2rem;
    margin: 30vh 2rem;
    background-color: #387284;
    border: 2rem;
  }
  .assignment-container .assignment:after {
    content: "";
    display: block;
    clear: both;
  }
  .assignment-container .assignment .assignment-picture {
    padding: 0;
  }
  .assignment-container .assignment-1 {
    float: left;
    width: 40%;
    padding: 0;
    margin: 30vh 2rem;
    background-color: #387284;
    border: 2rem;
  }
  .assignment-container .assignment-1:after {
    content: "";
    display: block;
    clear: both;
  }
  .assignment-container .assignment-1 .assignment-picture {
    padding: 0;
  }
  .services-container {
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .services-container header {
    width: 100%;
    height: 40vh;
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
  }
  .services-container .usp11 {
    float: left;
    width: 33%;
    overflow: auto;
    padding: 2rem;
    padding-top: 20vh;
    background-color: #387284;
    margin: 0;
    padding: 1rem;
    min-width: 33%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .services-container .usp11:after {
    content: "";
    display: block;
    clear: both;
  }
  .services-container .usp22 {
    float: left;
    width: 33%;
    overflow: auto;
    padding: 2rem;
    padding-top: 20vh;
    background-color: #387284;
    margin: 0;
    min-width: 33%;
    padding: 1rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .services-container .usp22:after {
    content: "";
    display: block;
    clear: both;
  }
  .services-container .usp33 {
    float: left;
    width: 33%;
    overflow: auto;
    padding: 2rem;
    padding-top: 20vh;
    background-color: #387284;
    margin: 0;
    min-width: 33%;
    padding: 1rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .services-container .usp33:after {
    content: "";
    display: block;
    clear: both;
  }
  .usp-picture {
    background-color: #387284;
  }
  .contact-container {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
  }
  .contact-container .contact-header {
    color: white;
  }
  .contact-container .contact-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
  .contact-container input.contact-small, .contact-container label, .contact-container textarea.contact-small {
    display: none;
  }
  .contact-container input.contact-large, .contact-container textarea.contact-large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: flex;
  }
  input[type=text], textarea {
    padding: 0.5rem;
    border: 2px solid black;
    margin: 1rem 0.5rem;
    resize: vertical;
    color: white;
    background-color: white;
    min-width: 700px;
  }
  textarea {
    max-height: 100px;
  }
  .foot-contact {
    float: right;
    width: 45%;
    min-height: 100%;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px #1f2a30;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px #1f2a30;
    width: 30%;
  }
  .foot-contact p {
    font-size: 80%;
  }
  .foot-contact a {
    text-decoration: none;
    font-size: 80%;
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-contact a:visited {
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-contact a:hover {
    font-size: 120%;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  .foot-contact p {
    font-size: 80%;
  }
  .foot-contact a {
    text-decoration: none;
    font-size: 80%;
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-contact a:visited {
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-contact a:hover {
    font-size: 120%;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  .foot-contact:after {
    content: "";
    display: block;
    clear: both;
  }
  .foot-contact p {
    font-size: 120%;
  }
  .foot-contact a {
    font-size: 120%;
  }
  .foot-contact a:hover {
    font-size: 180%;
  }
  .foot-adress {
    float: right;
    width: 45%;
    min-height: 100%;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px #1f2a30;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px #1f2a30;
    width: 30%;
  }
  .foot-adress p {
    font-size: 80%;
  }
  .foot-adress a {
    text-decoration: none;
    font-size: 80%;
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-adress a:visited {
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-adress a:hover {
    font-size: 120%;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  .foot-adress p {
    font-size: 80%;
  }
  .foot-adress a {
    text-decoration: none;
    font-size: 80%;
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-adress a:visited {
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-adress a:hover {
    font-size: 120%;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  .foot-adress:after {
    content: "";
    display: block;
    clear: both;
  }
  .foot-adress p {
    font-size: 120%;
  }
  .foot-adress a {
    font-size: 120%;
  }
  .foot-adress a:hover {
    font-size: 180%;
  }
  .foot-follow {
    float: right;
    width: 45%;
    min-height: 100%;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px #1f2a30;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 5px;
    text-shadow: 1px 1px #1f2a30;
    width: 30%;
  }
  .foot-follow p {
    font-size: 80%;
  }
  .foot-follow a {
    text-decoration: none;
    font-size: 80%;
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-follow a:visited {
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-follow a:hover {
    font-size: 120%;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  .foot-follow p {
    font-size: 80%;
  }
  .foot-follow a {
    text-decoration: none;
    font-size: 80%;
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-follow a:visited {
    color: rgba(115, 199, 203, 0.89);
  }
  .foot-follow a:hover {
    font-size: 120%;
    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
  }
  .foot-follow:after {
    content: "";
    display: block;
    clear: both;
  }
  .foot-follow p {
    font-size: 120%;
  }
  .foot-follow a {
    font-size: 120%;
  }
  .foot-follow a:hover {
    font-size: 180%;
  }
}
