@import 'variabel';
@import 'mixins';

footer {
    min-height: 10vh;
    min-width: 100vw;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @include prefix-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background-color: $primary-color2;
    text-transform: uppercase;
}
.foot-contact {
    @include footer-shared-left;
    @include footer-shared-flex;
    min-width: 33.33%;
    @include clearfix;
}
.foot-adress {
    @include footer-shared-flex;
    min-width: 33.33%;
    @include clearfix;
}
.foot-follow {
    @include footer-shared-right;
    @include footer-shared-flex;
    min-width: 33.33%;
    @include clearfix;
}
