.topnav {
    min-width: 100%;
    min-height: 20vh;
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-family: $font-stack;
    position: fixed;
    a {
        color: $nav-color;
        text-transform: uppercase;
        padding-top: 6rem;
        padding-bottom: 0;
        -webkit-transition: all 400ms;
        -o-transition: all 400ms;
        transition: all 400ms;
        text-shadow: 2px 1px $start-shadow;
        text-decoration: none;
        text-align: center;
        font-size: 1.25rem;
        letter-spacing: 6px;
        &:hover {
            color: $logo-color;
            font-size: 1.5rem;
            text-shadow: 2px 1px $start-shadow;
        }
    }
}
.topnav .icon {
    display: none;
}
.nav-up {
    top: -40vh;
}

