//Just default style

body {
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
p {
    font-size: $fontsize-mobile;
    line-height: 1.4em;
}

h1{
    font-size: 250%;
    letter-spacing: .5rem;
}

h2{
    font-size: 200%;
    letter-spacing: .3rem;
}

h3{
    font-size:150%;
    letter-spacing: .2rem;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

h1,h2,h3{
    text-transform: uppercase;
    line-height: 1.4em;
}

  