

// In this 'final' scss-file, in sass we split up the code
// into partials to manage it more easily. 

// Partials
@import 'variabel';
@import 'reset';
@import 'navbar';
@import 'button';
@import 'main';
@import 'footer';
@import 'aside';
@import 'mixins';

// HEM

.home-container {
    display: block;
    @include flex-container;
    min-width: 100%;
    background-image: $waves-icon ,$start-pic;
    min-height: 80vh;
    background-repeat: no-repeat,no-repeat;
    background-position: 50% 50%;
    background-size: auto, cover;
}

// OM OSS
.about-us-container {
    display: inline-block;
    @include flex-container;
    background-color: $primary-color2;
    color: $primary-color;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    padding: 1.5rem;
    a{
        color: black;
    &:hover{
        color: $primary-color2;
        }
    }
    .about-box{
        text-align: justify;
    }
}

.employees-container{   
    display: block;
    @include flex-container;
    .employee1 {
        @include employees;
        float: left;
        margin-right: auto;
        @include clearfix;
    }
    .employee2{
        @include employees;
        display: inline-block;
        @include clearfix;
        
    }
    .employee3{
        @include employees;
        float: right;
        margin-left: auto;
        @include clearfix;  
    }
}


// UPPDRAG
.assignment-container {
    min-height: 100vh;
    min-width: 100vw;
    display: inline-block;
    @include flex-container;
    background-color: $primary-color;
    color: black;
    text-align: center;
    .assignment, .assignment-1{
        width: 70%;
        margin: 1rem auto;
        padding: 1rem; 
    }
    p{
        text-align: justify;
    }
}

// TJÄNSTER
.services-container {
    min-height: 100vh;
    min-width: 100vw;
    display: block;
    @include flex-container;
    text-align: center;
    background-color: $primary-color2;
    @include padding-bot;
    background-color: $primary-color2;
    header{
        float: right;
        min-width: 100%;
        color:white;
        @include clearfix;
    }
    a:link {
        text-decoration: none;
        color:white
    }
    a:visited {
        text-decoration: none;
        color:white
    }
    a:hover {
        text-decoration: none;
        color:white
    }
    a:active {
        text-decoration: none;
        color:white
    }      
}

.desktop-usp{
    @include flex-container;
    .uspar{
        min-height: 100vh;
        color:white;
        background: none;
        @include prefix-flex;
        display:flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .header{
            width: 100%;
            min-height: 40vh;
        }
        .usp-container {
            @include prefix-flex;
            display:flex;
            background-color: $primary-color;
            padding: $padding; 
            -webkit-box-pack: center; 
            -ms-flex-pack: center; 
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .usp-picture{
            min-width: 30%;
            float: left;
            padding:1rem;
            @include clearfix;
        }
        .usp-text{
            background-color: $primary-color2;
            padding: 3rem;
            color:black;
            min-width: 60%
        }
    }
}

// KONTAKT
.contact-container {
    display: inline-block;
    @include prefix-flex;
    display: flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    min-width: 100%;
    min-height: 90vh;
    background-color: $primary-color;
    padding: 1rem;
    .contact-text {
        display: none;
    }
    .contact-head{
    text-align: center; 
    min-width: 100%;
    }
    input.contact-large, textarea.contact-large {
        display: none;
    }
    input.contact-small, textarea.contact-small {
        @include prefix-flex;
        display: flex;
        display: block;
    }
    textarea {
        min-height: 5rem;
    }
    form{
        float: right;
        padding-top: 3rem;
        @include clearfix;
    }
}

input[type=text], textarea {
    padding: 0.5rem 5rem;
    border: none;
    border-bottom: 2px solid black;
    background-color: $primary-color;
}

// MEDIA QUERY MOBIL
@media #{$width-mobile}{

.slogan-cont{
    display: none;
}

.home-container{
    min-height: 100vh;
}

.topnav a {
    display: none;
}

.topnav a.icon {
    display: block;
    @include prefix-flex;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    padding: 0.8rem 1rem;
    text-shadow: none;
    color: black;  
}

.topnav.responsive { 
    position: fixed;
    background-color: $primary-color;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    a:not(:last-child){
        display: block;
        @include prefix-flex;
        display: flex;
        padding: 0.8rem 1rem;
        text-shadow: none;
        width: 100%;
        font-size: 1rem;
        color: black;
        letter-spacing: normal;
    &:hover{
       background-color: lighten( $primary-color2, 30% );
    }
  }
}

footer{
    font-size: $fontsize-mobile;
    .foot-adress{
        display: none;
    }
}

.desktop-usp{   
        display: none;
} 
}   

// MEDIA QUERY IPAD
@media #{$width-tablet}{

p{
    font-size: $fontsize-tablet;
}

.slogan-cont{
    display: none;
}

.home-container{
    min-height: 100vh;
}

.assignment-backgrund{
    @include prefix-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
    header {
        width: 100%;
        }
    .assignment {
        width: 45%;
        float: left;
        padding-top: 20vh;
    .assignment-picture{
       
          }
        }
    .assignment-1 {
        width: 45%;
        float: right; 
        padding-top: 20vh;
    .assignment-picture{
         padding: $padding;
        }
    }
}
        
.desktop-usp{   
    display: none;
    } 
 
.services-container{
    @include prefix-flex;
    display: flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    flex-wrap:wrap;
    header{
        -webkit-box-flex:3;
        -ms-flex:3;
        flex:3;
        width: 100%
    }
    .usp11{
        @include usp-float;
        background-color:$primary-color2;
        margin: 0;
        -webkit-box-flex:1;
        -ms-flex:1;
        flex:1;
    }
    .usp22{
        @include usp-float;
        background-color:$primary-color2;
        margin: 0;
        -webkit-box-flex:1;
        -ms-flex:1;
        flex:1;
    }
    .usp33{
        @include usp-float;
        background-color:$primary-color2; 
        margin: 0;
        -webkit-box-flex:1;
        -ms-flex:1;
        flex:1;    
    }
    .service{
        width: 30%;
        padding: 0;
    }
}

.topnav a {
    display: none;
    }

.topnav a.icon {
    @include prefix-flex;
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    padding: 14px 16px;
    text-shadow: none;
    color: black;  
    }

.topnav.responsive { 
    position: fixed;
    background-color: $primary-color;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    a:not(:last-child){
        @include prefix-flex;
        display: flex;
        padding: 14px 16px;
        text-shadow: none;
        width: 100%;
        font-size: 1rem;
        color: black;
        letter-spacing: normal;
    &:hover{
        background-color: lighten( $primary-color2, 30% );
    }
  }
}

.foot-contact{
    @include footer-shared-right;
    @include footer-shared-flex;
    width: 30%;
    @include clearfix;
    }
    
.foot-adress{
    @include  footer-shared-right;
    @include footer-shared-flex;
    width: 30%;
    @include clearfix;
    }
    
.foot-follow{
    @include footer-shared-right;
    @include footer-shared-flex;
    width: 30%;
    @include clearfix;
    }
}   

// MEDIA QUERY DESKTOP
@media #{$width-desktop}{

p{
    font-size: $fontsize-desk;
}
    
h1, h2, h3{
    text-transform: uppercase;
    }

.about-us-container{ 
     @include flex-column;
    .employees-container{
        max-width: 60vw;
        margin: 0 auto;
    }
}
    
.home-container{
    background-image: $waves-desk-small;
}

.assignment-container{
    background: none;
    padding:0;
    color:white;
    .assignment-backgrund{
        color:white;
        width:100%;
        @include prefix-flex;
        display:flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;  
        margin: 0;
        padding: 0;
    header{
        width:100%;
        height: 20vh;
    } 
    div{
        padding: 1rem;
    }
}  
    .assignment{
        float: right;
        @include clearfix;
        width: 40%;
        padding: 2rem;
        margin: 30vh 2rem;
        background-color:$primary-color2;
        border: $padding;
    .assignment-picture{
        padding:0;
    }
    } 
    .assignment-1{
        float: left;
        @include clearfix;
        width: 40%;
        padding: 0;
        margin: 30vh 2rem;
        background-color:$primary-color2;
        border: $padding;
    .assignment-picture{
        padding:0;
     } 
  }    
}  

.services-container{
    background: none;
    @include prefix-flex;
    display:flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    header{
        width:100%;
        height: 40vh;
        -webkit-box-flex:4;
        -ms-flex:4;
        flex:4; 
    }
    .usp11{
        @include usp-float;
        background-color:$primary-color2;
        margin: 0;
        padding: 1rem;
        width: 33%;
        -webkit-box-flex:1;
        -ms-flex:1;
        flex:1;
        -ms-flex-item-align:end;
        align-self:flex-end;
    }
    .usp22{
        @include usp-float;
        background-color:$primary-color2;
        margin: 0;
        width: 33%;
        padding: 1rem;
        -webkit-box-flex:1;
        -ms-flex:1;
        flex:1;
        -ms-flex-item-align:end;
        align-self:flex-end;
    }
    .usp33{
        @include usp-float;
        background-color:$primary-color2; 
        margin: 0;
        width: 33%; 
        padding: 1rem; 
        -webkit-box-flex:1; 
        -ms-flex:1; 
        flex:1;   
        -ms-flex-item-align:end;   
        align-self:flex-end; 
    }          
   
}

.usp-picture{
    background-color:$primary-color2;    
}

.contact-container {
    background-color: transparent;
    @include prefix-flex;
    display: flex;
    .contact-header{
        color:white;
    }
    .contact-text {
        @include prefix-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
    }
    input.contact-small, label, textarea.contact-small {
        display: none;
    }
    input.contact-large, textarea.contact-large {
        @include prefix-flex;
        display: flex;
    }
}
    
input[type=text], textarea {
    padding: 0.5rem;
    border: 2px solid black;
    margin: 1rem 0.5rem;
    resize: vertical;
    color: white;
    background-color: white;
    min-width: 700px;
}
    
textarea {
    max-height: 100px;
}
    
.foot-contact{
    @include footer-shared-right;
    @include footer-shared-flex;
    width: 30%;
    @include clearfix;
}
    
.foot-adress{
    @include  footer-shared-right;
    @include footer-shared-flex;
    width: 30%;
    @include clearfix;
}
    
.foot-follow{
    @include footer-shared-right;
    @include footer-shared-flex;
    width: 30%;
    @include clearfix;
}
}


